---
import Button from "../../../../lib/components/Button.astro";
import AdvancedImage from "../../../../lib/components/AdvancedImage.astro";
import salonImage from "../../../assets/images/hero/salon1.jpg"
import salonImage2 from "../../../assets/images/hero/salon2.jpg"
import salonImage3 from "../../../assets/images/hero/salon3.jpg"
import salonImage4 from "../../../assets/images/hero/salon4.jpg"
import CloudinaryImage from "../../../../lib/components/CloudinaryImage.astro";
---

<main class="flex flex-col h-[100svh] pb-6">
    <h1 class="text-5xl font-extrabold text-center pt-20">
        EXPERIENCE OUR<br />CREATIVE VISION
    </h1>
    <p class="text-center pb-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </p>
    <div class="grid flex-1 grid-cols-2 grid-rows-12 gap-2 p-2 pb-8">
        <div class="row-span-7 relative">
            <CloudinaryImage
                src={'Portfolio/Salon/salon4_iiqecc'}
                alt=""
                class="h-full absolute w-full object-cover rounded-md"
            />
        </div>
        <div class="row-span-5 relative">
            <AdvancedImage
                important
                src={salonImage2}
                alt=""
                class="h-full absolute w-full object-cover rounded-md"
            />
        </div>
        <div class="row-span-7 relative">
            <AdvancedImage
                important
                src={salonImage3}
                alt=""
                class="h-full absolute w-full object-cover rounded-md"
            />
        </div>
        <div class="row-span-5 relative">
            <AdvancedImage
                important
                src={salonImage4}
                alt=""
                class="h-full absolute w-full object-cover rounded-md"
            />
        </div>
    </div>
    <Button
        class="bg-transparent border-2 border-black rounded-full text-black mx-auto"
        >BOOK ONLINE</Button
    >
</main>